@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto";
}

p {
  line-height: 1.5;
  font-weight: 300;
}

ul {
  list-style-type: none;
}

main {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

button {
  transition: opacity 300ms ease;
}

button:hover {
  cursor: pointer;
  opacity: 85%;
}

a {
  text-decoration: none;
}

.root {
  padding: 24px;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* HOME PAGE */

nav {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 0 12px;
}

.logo__wrapper {
  max-width: 64px;
  max-height: 64px;
}

.logo {
  width: 100%;
  height: 100%;
}

.nav__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links__right {
}

.nav__link--anchor {
  color: white;
  margin-right: 24px;
  transition: opacity 300ms ease;
}

.nav__link--anchor:hover {
  opacity: 50%;
}

.nav__link--list {
  display: flex;
  justify-content: center;
}

.row__landing {
  width: 100%;
}

.landing__img--container:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.landing__img--container {
  position: relative;
  display: inline-block;
  min-width: 100%;
  height: calc(100vh - 51px);
  overflow: hidden;
}

.landing__img {
  display: block;
  min-width: 100%;
  overflow: hidden;
}

.overlay__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.img__para {
  margin-top: 12px;
  margin-bottom: 24px;
}

.booking__btn {
  border-radius: 9999px;
  padding: 16px 40px;
  color: #fff;
  background-color: #333;
  border: transparent;
}

.info__links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 24px;
  width: 100%;
}

.link {
  display: flex;
  flex-direction: column;
}

.icon__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-solid {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  font-size: 32px;
  color: #333;
}

.about__btn {
  padding: 12px 16px;
  border-radius: 9999px;
  border: 2px solid #333;
  background-color: #fff;
  color: #333;
  font-weight: 300;
  transition: opacity 300ms ease;
}

.about__btn:hover {
  opacity: 40%;
}

.btn__link {
  color: #333;
}

.info__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.info__title {
  font-weight: 400;
  margin-bottom: 12px;
}

.btn__link--white {
  color: #fff;
}

.css-w8txck {
  padding-left: 12px;
}

.css-1n6bo {
  margin-bottom: 24px;
  margin-top: 48px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em 0;
  width: 100%;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__para {
  margin-top: 12px;
}

.footer__link {
  color: #fff;
  transition: opacity 300ms ease;
}

.footer__link:hover {
  opacity: 50%;
}

.footer__logo--wrapper {
  max-width: 150px;
}

.footer__logo {
  width: 100%;
}

/* ABOUT PAGE */

.row__about {
  display: flex;
  justify-content: center;
}

.text__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
}

.about__para {
  color: #333;
  margin-bottom: 24px;
  text-align: center;
  font-weight: 300;
}

.about__title {
  color: #333;
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 32px;
  font-weight: 400;
}

/* TABLETS, LARGE SMARTPHONES */

@media (max-width: 728px) {
  .row__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .css-1n6bo {
    margin-top: 0;
  }

  .info__header {
    width: 60%;
    margin-top: 24px;
  }

  .info__links {
    flex-direction: column;
    width: 60%;
    align-items: center;
    justify-content: space-between;
    margin-top: 48px;
  }

  .link {
    margin-bottom: 48px;
  }

  .link:last-child {
    margin-bottom: 32px;
  }
}

/* PHONES */

@media (max-width: 550px) {
  /* LANDING */

  .nav__link--anchor {
    font-size: 20px;
  }

  .logo__wrapper {
    max-width: 72px;
  }

  .overlay__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 24px;
  }

  .img__title {
    width: 120%;
    margin-bottom: 4px;
  }

  .img__para {
    margin: 72px 0;
  }

  .booking__btn {
    width: 80%;
    font-size: 24px;
    padding: 24px 0;
  }

  /* INFO */

  .row__info {

  }

  .info__header {
    align-items: center;
  }

  .info__title {
    font-size: 32px;
    margin-bottom: 24px;
    width: 100%;
  }

  .info__para {
    font-size: 22px;
  }

  .link {
    width: 50%;
  }

.fa-solid {
  font-size: 48px;
}

  .about__btn {
    padding: 16px 20px;
    margin-top: 12px;
  }

  .btn__link {
    font-size: 20px;
  }

  .css-1n6bo {
    width: 80%;
    padding: 32px 24px;
  }

  .footer__link {
    font-size: 20px;
  }

  .footer__para {
    font-size: 20px;
  }

  .footer__cr {
    font-size: 20px;
  }

  .footer__logo--wrapper {
   max-width: 200px;
  }

  .footer__logo {
    width:100%;
  }

  /* ABOUT */

  .about__title {
    margin: 48px 0;
  }

  .about__para {
    font-size: 24px;
    width: 75%;
  }

  .about__para:last-child {
    margin-bottom: 48px;
  }
}

/* SMALL PHONES */

@media (max-width: 450px) {

  nav {
    padding: 24px;
  }

  .logo {
    display: none;
  }

  .nav__link--list {
    align-items: center;
  }

  .nav__link--anchor {
    font-size: 16px;
  }

  .booking__btn {
    width: 100%;
    padding: 32px 16px;
  }

  .btn__link--white {
    font-size: 22px;
  }



  .link {
    width: 80%;
  }

  .css-1n6bo {
    width: 90%;
  }
  
  footer {
    padding: 16px ;
  }

  /* ABOUT */


  .about__para {
    width: 100%;
  }
  
}
